<html>
    <head>
        <title></title>
        <style type="text/css">
            a[href="#"] {
                color: #C00;
            }

            h1 {
                background-color: #AAF;
                padding: 5px;
            }

            ul {
                display: inline;
                margin: 0px;
                padding: 0px;
                list-style: none;
            }

            li {
                display: inline;
                margin: 0px;
                padding: 0px;
            }
            li+li::before {
                content: "-";
            }

        </style>
    </head>
    
    <body>
        <h1>Clients</h1>
        <ul>
            <li><a href="/clients/csv">csv</a></li>
            <li><a href="#">xlsx</a></li>
            <li><a href="#">json</a></li>
            <li><a href="#">xml</a></li>
            <li><a href="#">pdf</a></li>
        </ul>

        {{>clients}}

        <hr/>
        <h1>Factures</h1>
        <hr/>


        {{#factures}}

            <h2>Facture numéro {{id}} de {{client.nom}} {{client.prenom}} <a href="/factures/{{id}}/pdf">pdf</a></h2>
            {{>factures}}

        {{/factures}}

        <h1>HELLO GUY</h1>
        {{#facturesGuy}}

            <h2>Facture numéro {{id}} de {{client.nom}} {{client.prenom}} <a href="/factures/{{id}}/pdf">pdf</a></h2>
            {{>factures}}
            
        {{/facturesGuy}}

    </body>
</html>